body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6c80aa;
}

header {
    background-color: #39502c;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #34495e;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: #2f8d4b;
    color: white;
    padding: 10px;
}
